In [105]:
import pymongo as mg

In [106]:
client = mg.MongoClient(host='mongodb://localhost:27017/')

In [107]:
database=client['db_NHIS']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [108]:
collection = database['Join_NSC2_BND_M20']

In [109]:
cursor = collection.find({})

In [110]:
list = list(cursor)

TypeError: 'list' object is not callable

In [111]:
import pandas as pd

In [112]:
pd.DataFrame(list)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6bd24960e3ecc434e21b1,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6bd24960e3ecc434e21b2,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6bd24960e3ecc434e21b3,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6bd24960e3ecc434e21b4,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6bd24960e3ecc434e21b5,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6bd45960e3ecc4350399a,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6bd45960e3ecc4350399b,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6bd45960e3ecc4350399c,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6bd45960e3ecc4350399d,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6bd45960e3ecc4350399e,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [113]:
df_BND_M20 = pd.DataFrame(list)

In [114]:
df_BND_M20 = df_BND_M20[['SICK_SYM1','MCARE_SUBJ_CD','TOT_PRSC_DD_CNT','ED_RC_TOT_AMT','EDC_SBA', 'EDC_INSUR_BRDN_AMT']].copy()

In [115]:
df_BND_M20[:2]

,SICK_SYM1,MCARE_SUBJ_CD,TOT_PRSC_DD_CNT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT
0,L028,14,3,10590,3000,7590
1,J030,13,2,16520,4950,11570

In [116]:
df_BND_M20['SICK_SYM1'].value_counts()

J209     8244
I10      4629
I109     3275
F_       3203
N_       3177
         ...
H700        1
E058        1
M5397       1
T18         1
P289        1
Name: SICK_SYM1, Length: 3414, dtype: int64

In [117]:
def convertSICK_SYM(sick_sym) :
    if len(sick_sym) < 3 :
        return None
    else :
        return sick_sym[:3]

In [118]:
convertSICK_SYM('J209'), convertSICK_SYM('f_')

('J20', None)

In [119]:
df_BND_M20['SICK_SYM1_3'] = df_BND_M20['SICK_SYM1'].apply(convertSICK_SYM)

In [120]:
df_BND_M20['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [121]:
df_BND_M20_dropna = df_BND_M20.dropna()
df_BND_M20_dropna.isnull().sum()

SICK_SYM1             0
MCARE_SUBJ_CD         0
TOT_PRSC_DD_CNT       0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
SICK_SYM1_3           0
dtype: int64

In [122]:
target_list = df_BND_M20_dropna['SICK_SYM1_3'].value_counts().index.to_list()

In [123]:
target_list.index('L20')

62

In [124]:
def appyIndexNumber(sick_sym_3):
    indexNumber = target_list.index(sick_sym_3)
    return indexNumber

In [126]:
 df_BND_M20_dropna['SICK_SYM1_4'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(appyIndexNumber)

C:\Users\05-27\AppData\Local\Temp\ipykernel_6320\2060043049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_BND_M20_dropna['SICK_SYM1_4'] = df_BND_M20_dropna['SICK_SYM1_3'].apply(appyIndexNumber)

In [127]:
 df_BND_M20_dropna['SICK_SYM1_4']

0         42
1          2
2          2
3         10
4          3
          ..
137158     0
137159     0
137160     0
137161     0
137162    11
Name: SICK_SYM1_4, Length: 125809, dtype: int64

In [128]:
df_BND_M20_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125809 entries, 0 to 137162
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SICK_SYM1           125809 non-null  object
 1   MCARE_SUBJ_CD       125809 non-null  int64
 2   TOT_PRSC_DD_CNT     125809 non-null  int64
 3   ED_RC_TOT_AMT       125809 non-null  int64
 4   EDC_SBA             125809 non-null  int64
 5   EDC_INSUR_BRDN_AMT  125809 non-null  int64
 6   SICK_SYM1_3         125809 non-null  object
 7   SICK_SYM1_4         125809 non-null  int64
dtypes: int64(6), object(2)
memory usage: 8.6+ MB